RewriteEngine ON
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L,QSA]


#QSA means that if there's a query string passed with the original URL, it will be appended to the rewrite (olle?p=1 will be rewritten as index.php?url=olle&p=1.

#L means if the rule matches, don't process any more RewriteRules below this one.
#O [NC] é no-case, apenas faz com que as comparações sejam feitas no modo case-insensitive, ou seja, sem diferenciar maiúsculas de minúsculas.

